html body {
    background-image: url(../images/bonsai.jpg);
    background-position: center;
}

md-toolbar.main-toolbar {
  color: white;
}

md-item-content .md-button,
md-item-content input {
    margin: 0;
    padding: 4px 16px;
    text-transform: none;
    font-weight: 500;
    border-radius: 0;
    border: none;
    outline: none;
    font-size: 14px;
}

md-item-content .md-button:first-child {
    text-align: left;
}

md-input-container.button {
  padding-bottom: 0;
}

.welcome h1, .welcome span {
    color: white;
    line-height: 1.8em;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline;
}

.chart {
    margin-bottom: 30px;
}

table.md-table {
  margin-bottom: 16px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}

table.md-table td,
table.md-table th {
  padding: 12px 16px;
  text-align: left;
}

table.md-table td {
  vertical-align: top;
}
table.md-table td.description *:first-child {
  margin-top: 0;
}
table.md-table td.description *:last-child {
  margin-bottom: 0;
}
table.md-table tr:nth-child(odd) td {
  background-color: #D9CDB9;
}
table.md-table tr:nth-child(even) td {
  background-color: #B2A998;
}
table.md-table th {
  background-color: #CC9C14;
  color: white;
}