<div layout="row" layout-fill layout-align="center center">
  <div flex="70" layout="row">

    <div layout="column" flex="auto" layout-align="center start" class="welcome">
      <div>
        <h1>Welcome to Webgarden</h1>
        <br>
        <span>The easy way to monitor your garden</span>
      </div>
    </div>

    <md-whiteframe flex="30" layout="column" class="md-whiteframe-z1">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Sign In</h2>
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <form name="loginForm" ng-submit="login()">
        <md-input-container>
          <label>Username</label>
          <input required ng-model="user.user">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input required ng-model="user.pass" type="password">
        </md-input-container>
        <md-input-container class="button">
          <md-button flex="100" class="md-raised md-primary">
            Login
          </md-button>
        </md-input-container>
      </md-content>
    </md-whiteframe>

  </div>
</div>
