<md-list>
  <md-item ng-repeat="plant in plants">
    <md-item-content layout="row">
      <md-button ui-sref="user.plants({id: plant.id})" flex>
        {{ plant.name }}
      </md-button>
      <md-button ng-click="removePlant(plant, $event)" flex="5" class="md-warn">
        Remove
      </md-button>
    </md-item-content>
  </md-item>
  <md-item>
    <md-item-content layout="row">
      <input ng-model="newPlant.name" type="text"
             placeholder="Create a plant" flex>
      <md-button ng-click="createPlant()" flex="5">
      Create
    </md-button>
  </md-item>
</md-list>
