<div layout="column" layout-fill>
  <md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
      <span>Webgarden</span>
      <span flex></span>
      <a class="md-button">
        Logged as {{ user.name }}
      </a>
      <a ui-sref="logout" class="md-button">
        Log me out!
      </a>
    </div>
  </md-toolbar>
  <div layout="row" flex class="content-wrapper">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <div ui-view="list"></div>
    </md-sidenav>
    <div layout="column" flex class="content-wrapper" id="primary-col">
        <md-content layout="column" flex class="md-padding">
          <div ng-if="loading" flex layout="column" layout-fill
               layout-align="center center" class="fade">
            <md-progress-circular md-mode="indeterminate" md-diameter="48">
            </md-progress-circular>
          </div>
          <div ng-if="!loading" ui-view="detail" class="fade"></div>
        </md-content>
    </div>
  </div>
</div>